################################################################################
# {{ .CreationWarning }}
# {{ $.CreationInfo }}
{{ if not .Json.version }}
# No version

{{ else if not .Json.base }}
# No base

{{ else if not .Json.name }}
# No name

{{ else if not .Json.ref }}
# Plain Docker container for docker-{{ .Json.name }} based off {{ .Json.base }}
ARG VERSION={{ .Json.version }}

# 1. First reference the gearbox-base image.
FROM {{ .Json.base }}
ARG VERSION
ARG GEARBOX_ENTRYPOINT

# 2. Set up env variables.
MAINTAINER {{ with .Json.maintainer }}{{ . }}{{ else }}Unknown{{ end }}
ENV GEARBOX_CONTAINER_NAME "docker-{{ .Json.name }}"
ENV GEARBOX_CONTAINER_VERSION ${VERSION}
ENV GEARBOX_ENTRYPOINT ${GEARBOX_ENTRYPOINT}
LABEL gearbox.json='{{ .JsonString }}'
{{ range $k, $v := .Json }}LABEL container.{{ $k }}="{{ $v }}"
{{ end }}
{{ range $k, $v := .Json }}{{ if ne $k "env" }}ENV GEARBOX_{{ $k | ToUpper }} "{{ $v }}"{{ end }}
{{ end }}
{{ range $k, $v := .Json.env }}ENV {{ $k | ToUpper }} "{{ $v }}"
{{ end }}

# 3. Now copy the local files specific to this container.
COPY build /build
COPY ${VERSION}/build /build
COPY ${VERSION}/gearbox.json /build/gearbox.json

# 4. Run the build-base.sh script to set everything up.
RUN /bin/sh /build/build-base.sh

# 5. Run the build-{{ .Json.name }}.sh script to set everything up.
RUN /bin/sh /build/build-{{ .Json.name }}.sh

# 6. Expose ports.
EXPOSE 22 9970 {{ range .Json.ports }}{{ . }} {{ end }}
WORKDIR /home/gearbox/projects
{{ else }}
# Referenced Docker container for docker-{{ .Json.name }} based off {{ .Json.base }} with {{ .Json.ref }} overlayed.
ARG VERSION={{ with .Json.version }}{{ . }}{{ end }}

# 1. First reference the gearbox-base image.
FROM {{ .Json.base }} as gearbox-base

# 2. Next reference the third party image.
FROM {{ .Json.ref }}
ARG VERSION
ARG GEARBOX_ENTRYPOINT
USER root

# 3. Copy the build directory over from gearbox-base image.
COPY --from=gearbox-base /build /build

# 4. Set up env variables.
MAINTAINER {{ with .Json.maintainer }}{{ . }}{{ else }}Unknown{{ end }}
ENV GEARBOX_CONTAINER_NAME "docker-{{ .Json.name }}"
ENV GEARBOX_CONTAINER_VERSION ${VERSION}
ENV GEARBOX_ENTRYPOINT ${GEARBOX_ENTRYPOINT}
LABEL gearbox.json='{{ .JsonString }}'
{{ range $k, $v := .Json }}LABEL container.{{ $k }}="{{ $v }}"
{{ end }}
{{ range $k, $v := .Json }}{{ if eq $k "env" }}# {{ end }}ENV GEARBOX_{{ $k | ToUpper }} "{{ $v }}"
{{ end }}
{{ range $k, $v := .Json.env }}ENV {{ $k | ToUpper }} "{{ $v }}"
{{ end }}

# 5. Now copy the local files specific to this container.
COPY build /build
COPY ${VERSION}/build /build
COPY ${VERSION}/gearbox.json /build/gearbox.json

# 6. Run the build-base.sh script to set everything up.
RUN /bin/sh /build/build-base.sh

# 7. Run the build-{{ .Json.name }}.sh script to set everything up.
RUN /bin/sh /build/build-{{ .Json.name }}.sh

# 8. Expose ports.
EXPOSE 22 9970 {{ range .Json.ports }}{{ . }} {{ end }}
WORKDIR /home/gearbox/projects
{{ with .Json.inner }}{{ . }}{{ end }}
CMD ["/init"]
{{ end }}
# END
